@import url('https://cdn.jsdelivr.net/gh/orioncactus/pretendard/dist/web/static/pretendard.css');

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Pretendard', sans-serif;
  background-color: #f3f4f6;
}

#root {
  min-height: 100vh;
}